        div {
            border-style: solid;
            padding: 10px;
        }

        .postagens {
            border-color: blue;
        }

        .postagem {
            border-color: black;
            margin: 10px;
        }

        .comentarios {
            border-color: green;
        }

        .datahora {
            border-style: dotted;
            border-color: black;
            color: rgb(85, 83, 0);
            font-size: smaller;
            background-color: rgb(235, 235, 235);
            
        }
        .margem {
            margin: 12px;
        }
        .alin_dir {
            box-align: end;
        }